
<div style="border: 2px solid #112e51; border-radius: 5px; padding: 2px; margin-bottom: 2px;">
 <div class="title" style="font-size: 120%; text-align: center; border-radius: 5px; background-color: #112e51; color: white;">
    <i class="filter white icon"></i><strong>Advanced Search</strong> 
  </div>
    <form name="searchFilterForm" class="ui form" ng-submit="searchDataset()">
    
      <div class="field">
          <label>Agency</label>
          <remote-dropdown column="agencyid" name="agencyid" ng-model="search.agencyid"></remote-dropdown>
      </div>
      <div class="field">
          <label>Reference Id</label>
          <remote-dropdown column="idvpiid" name="idvpiid" ng-model="search.idvpiid"></remote-dropdown>
      </div>
      <div class="field">
          <label>Contracting Agency</label>
          <remote-dropdown column="contractingofficeagencyid" name="contractingofficeagencyid" ng-model="search.contractingofficeagencyid"></remote-dropdown>
      </div>
        <div class="field">
          <label>Vendor Name</label>
          <remote-dropdown column="vendorname" name="vendorname" ng-model="search.vendorname"></remote-dropdown>
      </div>
      <div class="field">
          <label>Date Signed</label>
          <div class="fields">
            <input type="hidden" name="signeddate" ng-model="search.signeddate">
            <div class="eight wide field">
              <label for="from">From</label>
              <input type="text" id="from" name="from">
            </div>
            <div class="eight wide field">
              <label for="to">To</label>
              <input type="text" id="to" name="to">
            </div>
          </div>
        </div>

        <div class="field">
          <label>Action Obligation</label>
          <div class="fields">
            <div class="six wide field">
              <input id="dollarsobligated" name="dollarsobligated" ng-model="search.dollarsobligated" readonly="" style="display:block">
            </div>
            <div class="eight wide field">
              <div id="slider-range" style="margin-top: 10px; display:block"></div>
            </div>
          </div>
        </div>
      <div class="field" ng-show="filter1">
          <label>Contract Type</label>
          <remote-dropdown column="contractactiontype" name="contractactiontype" ng-model="search.contractactiontype"></remote-dropdown>
      </div>
      <div class="field" ng-show="filter2">
          <label>Local Area</label>
          <remote-dropdown column="localareasetaside" name="localareasetaside" ng-model="search.localareasetaside"></remote-dropdown>
      </div>
      <div class="field" ng-show="filter3">
          <label>Department Full Name</label>
          <remote-dropdown column="maj_agency_cat" name="maj_agency_cat" ng-model="search.maj_agency_cat"></remote-dropdown>
      </div>
      <div class="field" ng-show="filter4">
          <label>PSC</label>
          <remote-dropdown column="psc_cat" name="psc_cat" ng-model="search.psc_cat"></remote-dropdown>
      </div>
     
     <div style="margin-bottom: 5px;">
      <button type="button" class="ui button" ng-click="searchDataset()" style="margin-left: 20px;">Search</button>
      
      <div class="ui accordion">
      <div class="title">
        <i class="icon dropdown"></i>Add Filter
      </div>
      <div class="content field">
                    <div class="field">
                       <input type="checkbox" name="contractactiontype" ng-model="filter1"> Contract Type<br>
                       <input type="checkbox" name="localareasetaside" ng-model="filter2"> Local Area<br>
                     <input type="checkbox" name="maj_agency_cat" ng-model="filter3"> Department Full Name<br>
                     <input type="checkbox" name="psc_cat" ng-model="filter4"> PSC
                </div>
                </div>
                </div>
                </div>
</form>

      
                 
            





<!-- 
    <form name="searchFilterForm" class="ui form transition hidden">

      <div class="two fields">
        <div class="field">
          <label>Agency</label>
          <remote-dropdown column="agencyid" name="agencyid" ng-model="search.agencyid"></remote-dropdown>
        </div>

        <div class="field">
          <label>Contract Type</label>
          <remote-dropdown column="contractactiontype" name="contractactiontype" ng-model="search.contractactiontype"></remote-dropdown>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Contracting Agency</label>
          <remote-dropdown column="contractingofficeagencyid" name="contractingofficeagencyid" ng-model="search.contractingofficeagencyid"></remote-dropdown>
        </div>

        <div class="field">
          <label>Local Area</label>
          <remote-dropdown column="localareasetaside" name="localareasetaside" ng-model="search.localareasetaside"></remote-dropdown>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Department Full Name</label>
          <remote-dropdown column="maj_agency_cat" name="maj_agency_cat" ng-model="search.maj_agency_cat"></remote-dropdown>
        </div>

        <div class="field">
          <label>PoP State Name</label>
          <remote-dropdown column="pop_state_code" name="pop_state_code" ng-model="search.pop_state_code"></remote-dropdown>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>PSC</label>
          <remote-dropdown column="psc_cat" name="psc_cat" ng-model="search.psc_cat"></remote-dropdown>
        </div>

        <div class="field">
          <label>Vendor Name</label>
          <remote-dropdown column="vendorname" name="vendorname" ng-model="search.vendorname"></remote-dropdown>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Date Signed</label>
          <div class="fields">
            <input type="hidden" name="signeddate" ng-model="search.signeddate">
            <div class="eight wide inline field">
              <label for="from">From</label>
              <input type="text" id="from" name="from">
            </div>
            <div class="eight wide inline field">
              <label for="to">To</label>
              <input type="text" id="to" name="to">
            </div>
          </div>
        </div>

        <div class="field">
          <label>Action Obligation</label>
          <div class="fields">
            <div class="six wide field">
              <input id="dollarsobligated" name="dollarsobligated" ng-model="search.dollarsobligated" readonly="">
            </div>
            <div class="ten wide field">
              <div id="slider-range" style="margin-top: 10px;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="three fields">
        <div class="field">
          <label>NAICS</label>
          <remote-dropdown column="principalnaicscode" name="principalnaicscode" ng-model="search.principalnaicscode"></remote-dropdown>
        </div>

        <div class="field">
          <label>Fiscal Year</label>
          <remote-dropdown column="fiscal_year" name="fiscal_year" ng-model="search.fiscal_year"></remote-dropdown>
        </div>

        <div class="field">
          <label>Zip Code</label>
          <remote-dropdown column="zipcode" name="zipcode" ng-model="search.zipcode"></remote-dropdown>
        </div>
      </div>

      <button type="button" class="ui button" ng-click="searchDataset()">Search</button>

      <button type="button" class="ui button" ng-click="">Add Filter</button>

    </form> -->

<!--
    <form name="searchFilterForm" class="ui form transition hidden">

      <div class="two fields">
        <div class="field">
          <label>Agency</label>
          <remote-dropdown column="agencyid" name="agencyid" ng-model="search.agencyid"></remote-dropdown>
        </div>

        <div class="field">
          <label>Contract Type</label>
          <remote-dropdown column="contractactiontype" name="contractactiontype" ng-model="search.contractactiontype"></remote-dropdown>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Contracting Agency</label>
          <remote-dropdown column="contractingofficeagencyid" name="contractingofficeagencyid" ng-model="search.contractingofficeagencyid"></remote-dropdown>
        </div>

        <div class="field">
          <label>Local Area</label>
          <remote-dropdown column="localareasetaside" name="localareasetaside" ng-model="search.localareasetaside"></remote-dropdown>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Department Full Name</label>
          <remote-dropdown column="maj_agency_cat" name="maj_agency_cat" ng-model="search.maj_agency_cat"></remote-dropdown>
        </div>

        <div class="field">
          <label>PoP State Name</label>
          <remote-dropdown column="pop_state_code" name="pop_state_code" ng-model="search.pop_state_code"></remote-dropdown>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>PSC</label>
          <remote-dropdown column="psc_cat" name="psc_cat" ng-model="search.psc_cat"></remote-dropdown>
        </div>

        <div class="field">
          <label>Vendor Name</label>
          <remote-dropdown column="vendorname" name="vendorname" ng-model="search.vendorname"></remote-dropdown>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Date Signed</label>
          <div class="fields">
            <input type="hidden" name="signeddate" ng-model="search.signeddate">
            <div class="eight wide inline field">
              <label for="from">From</label>
              <input type="text" id="from" name="from">
            </div>
            <div class="eight wide inline field">
              <label for="to">To</label>
              <input type="text" id="to" name="to">
            </div>
          </div>
        </div>

        <div class="field">
          <label>Action Obligation</label>
          <div class="fields">
            <div class="six wide field">
              <input id="dollarsobligated" name="dollarsobligated" ng-model="search.dollarsobligated" readonly="">
            </div>
            <div class="ten wide field">
              <div id="slider-range" style="margin-top: 10px;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="three fields">
        <div class="field">
          <label>NAICS</label>
          <remote-dropdown column="principalnaicscode" name="principalnaicscode" ng-model="search.principalnaicscode"></remote-dropdown>
        </div>

        <div class="field">
          <label>Fiscal Year</label>
          <remote-dropdown column="fiscal_year" name="fiscal_year" ng-model="search.fiscal_year"></remote-dropdown>
        </div>

        <div class="field">
          <label>Zip Code</label>
          <remote-dropdown column="zipcode" name="zipcode" ng-model="search.zipcode"></remote-dropdown>
        </div>
      </div>

      <button type="button" class="ui button" ng-click="searchDataset()">Search</button>

      <button type="button" class="ui button" ng-click="">Add Filter</button>

    </form>


    <!--Filters-->
    <!--
    <div class="ui secondary segment">

      <div class="ui multiple dropdown">
        <input type="hidden" name="filters">
        <i class="filter icon"></i>
        <span class="text">Filters</span>
        <div class="menu">
          <div class="ui icon search input">
            <i class="filter icon"></i>
            <input type="text" placeholder="Search filters...">
          </div>
          <div class="scrolling menu">
            <div class="item">
              Username
            </div>
            <div class="item">
              Password
            </div>
            <div class="item">
              First Name
            </div>
            <div class="item">
              Telephone
            </div>
            <div class="item">
              Last Name
            </div>
          </div>
        </div>
      </div>

    </div>

    <form class="ui equal width form">
      <div class="fields">

        <div class="field">
          <label>Username</label>
          <input type="text" placeholder="Username">
        </div>

        <div class="field">
          <label>Password</label>
          <input type="password">
        </div>

      </div>

      <div class="fields">

        <div class="field">
          <label>First name</label>
          <input type="text" placeholder="First Name">
        </div>

        <div class="field">
          <label>Telephone</label>
          <input type="text" placeholder="Telephone">
        </div>

        <div class="field">
          <label>Last name</label>
          <input type="text" placeholder="Last Name">
        </div>

      </div>

    </form>
-->
<!--
  </div> -->
</div>