<div class="ui large top fixed hidden menu" ng-controller="NavController as vm">
  <div class="ui container">
    <a ui-sref-active="active" ui-sref="home" class="item">Home</a>
    <a ui-sref-active="active" ui-sref="search" class="item" ng-class=" !vm.isUserAuth ? 'disabled' : ' ' ">Search</a>
    <a ui-sref-active="active" ui-sref="api" class="item" ng-class=" !vm.isUserAuth ? 'disabled' : ' ' ">API</a>
    <a ui-sref-active="active" ui-sref="feedback" class="item" ng-class=" !vm.isUserAuth ? 'disabled' : ' ' ">Feedback</a>
    <div class="right menu">
      <div class="item" ng-show="!vm.isUserAuth">
        <a ui-sref-active="active" ui-sref="login" class="ui button">Log in</a>
      </div>
      <div class="item" ng-show="!vm.isUserAuth">
        <a ui-sref-active="active" ui-sref="register" class="ui primary button">Sign Up</a>
      </div>
      <div class="item" ng-show="vm.isUserAuth">
        <a ui-sref-active="active" ui-sref="profile" class="ui button">Profile</a>
      </div>
      <div class="item" ng-show="vm.isUserAuth">
        <a ui-sref-active="active" ng-click="vm.logOut()" class="ui button">Log out</a>
      </div>
    </div>
  </div>
</div>