<div class="ui accordion">
  <div class="title">
    <i class="dropdown blue icon"></i> Advanced Search
  </div>
  <div class="content field">

    <form name="searchFilterForm" class="ui small form transition hidden">

      <div class="two fields">
        <div class="field">
          <label>Agency</label>
          <remote-dropdown column="agencyid" name="agencyid" ng-model="search.agencyid"></remote-dropdown>
        </div>

        <div class="field">
          <label>Contract Type</label>
          <remote-dropdown column="contractactiontype" name="contractactiontype" ng-model="search.contractactiontype"></remote-dropdown>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Contracting Agency</label>
          <remote-dropdown column="contractingofficeagencyid" name="contractingofficeagencyid" ng-model="search.contractingofficeagencyid"></remote-dropdown>
        </div>

        <div class="field">
          <label>Local Area</label>
          <remote-dropdown column="localareasetaside" name="localareasetaside" ng-model="search.localareasetaside"></remote-dropdown>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Department Full Name</label>
          <remote-dropdown column="maj_agency_cat" name="maj_agency_cat" ng-model="search.maj_agency_cat"></remote-dropdown>
        </div>

        <div class="field">
          <label>PoP State Name</label>
          <remote-dropdown column="pop_state_code" name="pop_state_code" ng-model="search.pop_state_code"></remote-dropdown>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>PSC</label>
          <remote-dropdown column="psc_cat" name="psc_cat" ng-model="search.psc_cat"></remote-dropdown>
        </div>

        <div class="field">
          <label>Vendor Name</label>
          <remote-dropdown column="vendorname" name="vendorname" ng-model="search.vendorname"></remote-dropdown>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Date Signed</label>
          <input name="signeddate" placeholder="Date Signed" ng-model="search.signeddate">
        </div>

        <div class="field">
          <label>Action Obligation</label>
          <div class="fields">
            <div class="six wide field">
              <input type="text" id="amount" readonly="">
              <!--<input name="dollarsobligated" placeholder="Action Obligation ($)" ng-model="search.dollarsobligated">-->
            </div>
            <div class="ten wide field">
              <div id="slider-range" style="margin-top: 10px;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="three fields">
        <div class="field">
          <label>NAICS</label>
          <input name="principalnaicscode" placeholder="NAICS" ng-model="search.principalnaicscode">
        </div>

        <div class="field">
          <label>Fiscal Year</label>
          <input name="fiscal_year" placeholder="Fiscal Year" ng-model="search.fiscal_year">
        </div>

        <div class="field">
          <label>Zip Code</label>
          <input name="zipcode" placeholder="Zip Code" ng-model="search.zipcode">
        </div>
      </div>

      <button type="button" class="ui button" ng-click="searchDataset()">Search</button>

    </form>
  </div>
</div>