<div class="ui accordion">
  <div class="title">
    <i class="dropdown blue icon"></i> Advanced Search
  </div>
  <div class="content field">

    <form name="searchFilterForm" class="ui small form transition hidden">

      <div class="two fields">
        <div class="field">
          <label>Agency</label>
          <select class="ui fluid dropdown" name="agencyid" id="agencyid" ng-model="search.agencyid">
            <option value=''></option>
            <option ng-repeat="item in filters.agencies" value="{{item}}">{{item}}</option>
          </select>
        </div>

        <div class="field">
          <label>Contract Type</label>
          <select class="ui fluid dropdown" name="contractactiontype" id="contractactiontype" ng-model="search.contractactiontype">
            <option value=''></option>
            <option ng-repeat="item in filters.contractTypes" value="{{item}}">{{item}}</option>
          </select>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Contracting Agency</label>
          <select class="ui fluid dropdown" name="contractingofficeagencyid" id="contractingofficeagencyid" ng-model="search.contractingofficeagencyid">
            <option value=''></option>
            <option ng-repeat="item in filters.contractingAgencies" value="{{item}}">{{item}}</option>
          </select>
        </div>

        <div class="field">
          <label>Local Area</label>
          <select class="ui fluid dropdown" name="localareasetaside" id="localareasetaside" ng-model="search.localareasetaside">
            <option value=''></option>
            <option ng-repeat="item in filters.localAreas" value="{{item}}">{{item}}</option>
          </select>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Department Full Name</label>
          <select class="ui fluid dropdown" name="maj_agency_cat" id="maj_agency_cat" ng-model="search.maj_agency_cat">
            <option value=''></option>
            <option ng-repeat="item in filters.department" value="{{item}}">{{item}}</option>
          </select>
        </div>

        <div class="field">
          <label>PoP State Name</label>
          <select class="ui fluid dropdown" name="pop_state_code" id="pop_state_code" ng-model="search.pop_state_code">
            <option value=''></option>
            <option ng-repeat="item in filters.popStates" value="{{item}}">{{item}}</option>
          </select>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>PSC</label>
          <select class="ui fluid dropdown" name="psc_cat" id="psc_cat" ng-model="search.psc_cat">
            <option value=''></option>
            <option ng-repeat="item in filters.psc" value="{{item}}">{{item}}</option>
          </select>
        </div>

        <div class="field">
          <label>Vendor Name</label>
          <select class="ui fluid dropdown" name="vendorname" id="vendorname" ng-model="search.vendorname">
            <option value=''></option>
            <option ng-repeat="item in filters.vendorname" value="{{item}}">{{item}}</option>
          </select>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Date Signed</label>
          <input name="signeddate" placeholder="Date Signed" ng-model="search.signeddate">
        </div>

        <div class="field">
          <label>Action Obligation ($)</label>
          <input name="dollarsobligated" placeholder="Action Obligation ($)" ng-model="search.dollarsobligated">
        </div>
      </div>

      <div class="three fields">
        <div class="field">
          <label>NAICS</label>
          <input name="principalnaicscode" placeholder="NAICS" ng-model="search.principalnaicscode">
        </div>

        <div class="field">
          <label>Fiscal Year</label>
          <input name="fiscal_year" placeholder="Fiscal Year" ng-model="search.fiscal_year">
        </div>

        <div class="field">
          <label>Zip Code</label>
          <input name="zipcode" placeholder="Zip Code" ng-model="search.zipcode">
        </div>
      </div>

      <button type="button" class="ui button" ng-click="searchDataset()">Search</button>

    </form>
  </div>
</div>