<div class="row">
    <div class="col-md-12">
        <div class="alert" ng-show="flash && flash.type && flash.message" ng-class="flash.type" role="alert">{{ flash.message }}</div>

        <div class="jumbotron well">
            <h1>Welcome</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Next</a></p>
        </div>

        <div class="jumbotron well">
            <h1>Make second point</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Next</a>
            </p>
        </div>

        <div class="jumbotron well">
            <h1>make 3rd point</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Register</a>
            </p>
        </div>

    </div>
</div>
