<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui header">
      <div class="content">
        Log in to your account
      </div>
    </h2>
    <form class="ui small form" name="userForm">
      <div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username" ng-model="user.username" ng-minlength="3">
            <p class="text-danger" ng-show="userForm.$submitted && userForm.username.$error.minlength">The username field is required.</p>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-minlength="3">
            <p class="text-danger" ng-show="userForm.$submitted && userForm.password.$error.minlength">The email field is required.</p>
          </div>
        </div>
        <button type="submit" class="ui fluid large submit button" ng-click="loginUser()">Login</button>
      </div>

      <div class="ui message" ng-show="flash && flash.type && flash.message" ng-class="flash.type">
        {{ flash.message }}
      </div>

    </form>

    <div class="ui message">
      <div class="ui list">
        <a class="item" href="#/forgot-password">Forgot Password?</a>
        <a class="item" href="#/resend-email">Still haven't received the email?</a>
      </div>
    </div>
  </div>
</div>

