<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sign In</h1>
        <div class="alert" ng-show="flash && flash.type && flash.message" ng-class="flash.type" role="alert">{{ flash.message }}</div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Login to your account...
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" name="userForm">
                            <div class="form-group">
                                <label>Username *</label>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" name="username" placeholder="Username" ng-model="user.username" ng-minlength="3">
                                </div>
                                <p class="text-danger" ng-show="userForm.$submitted && userForm.username.$error.minlength">The username field is required.</p>
                            </div>
                            <div class="form-group">
                                <label>Password *</label>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" ng-minlength="3">
                                </div>
                                <p class="text-danger" ng-show="userForm.$submitted && userForm.password.$error.minlength">The email field is required.</p>
                            </div>

                            <button type="reset" class="btn btn-outline btn-info" ng-click="flash={}">Reset</button>
                            <button type="submit" class="btn btn-primary" ng-click="loginUser()">Login</button>
                            <a href="#/forgot-password" class="btn btn-link">Forgot Password?</a>
                            <a href="#/resend-email" class="btn btn-link">Still haven't received the email?</a>
                        </form>
                    </div>
                    <!-- /.col-lg-12 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->