<!DOCTYPE html>
<html ng-app="FPDS">
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jqwidgets/styles/jqx.base.css">
    <link rel="stylesheet" href="/styles/jqwidgets/styles/jqx.ui-sunny.css">
    <link rel="stylesheet" href="/styles/metisMenu/metisMenu.css">
    <link rel="stylesheet" href="/styles/morrisjs/morris.css">
    <link rel="stylesheet" href="/styles/nvd3/nv.d3.css">
    <link rel="stylesheet" href="/styles/sb-admin-2.css">
    <link rel="stylesheet" href="/styles/timeline.css">
    <!--STYLES END-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-cloak>
    <span us-spinner spinner-key="spinner" spinner-start-active="false"></span>

    <div id="wrapper">

        <% include ../assets/templates/partials/_nav.html %>

        <div id="page-wrapper">
            <%- body %>
            <div ng-view></div>
        </div>

        <% include ../assets/templates/partials/_footer.html %>

    </div>

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.js"></script>
    <script src="/js/dependencies/angular/angular.js"></script>
    <script src="/js/dependencies/spin.js/spin.js"></script>
    <script src="/js/dependencies/angular-spinner/angular-spinner.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxcore.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxdata.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxbuttons.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxscrollbar.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxdropdownlist.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxmenu.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxgrid.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxgrid.pager.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxgrid.sort.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxgrid.filter.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxgrid.storage.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxgrid.columnsresize.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxgrid.columnsreorder.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxgrid.selection.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxpanel.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxcheckbox.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxtabs.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxlistbox.js"></script>
    <script src="/js/dependencies/jqwidgets/jqxangular.js"></script>
    <script src="/js/dependencies/angular-animate/angular-animate.js"></script>
    <script src="/js/dependencies/angular-aria/angular-aria.js"></script>
    <script src="/js/dependencies/angular-cookies/angular-cookies.js"></script>
    <script src="/js/dependencies/angular-messages/angular-messages.js"></script>
    <script src="/js/dependencies/angular-nvd3/angular-nvd3.js"></script>
    <script src="/js/dependencies/angular-resource/angular-resource.js"></script>
    <script src="/js/dependencies/angular-route/angular-route.js"></script>
    <script src="/js/dependencies/angular-sanitize/angular-sanitize.js"></script>
    <script src="/js/dependencies/angular-touch/angular-touch.js"></script>
    <script src="/js/dependencies/bootstrap/bootstrap.js"></script>
    <script src="/js/dependencies/d3/d3.js"></script>
    <script src="/js/dependencies/metisMenu/metisMenu.js"></script>
    <script src="/js/dependencies/mocha/mocha.js"></script>
    <script src="/js/dependencies/moment/moment.js"></script>
    <script src="/js/dependencies/morrisjs/morris.js"></script>
    <script src="/js/dependencies/nvd3/nv.d3.js"></script>
    <script src="/js/dependencies/raphael/raphael.js"></script>
    <script src="/js/dependencies/sb-admin-2.js"></script>
    <script src="/js/dependencies/spin.js"></script>
    <script src="/js/dependencies/x2js/xml2json.min.js"></script>
    <script src="/js/Common/CommonController.js"></script>
    <script src="/js/Common/directives.js"></script>
    <script src="/js/Common/factories.js"></script>
    <script src="/js/Common/filters.js"></script>
    <script src="/js/Common/providers.js"></script>
    <script src="/js/Common/services.js"></script>
    <script src="/js/Home/HomeController.js"></script>
    <script src="/js/Search/SearchController.js"></script>
    <script src="/js/User/FormController.js"></script>
    <script src="/js/User/LoginController.js"></script>
    <script src="/js/app.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
