<!-- Fixed navbar -->

<div class="ui top fixed stackable menu" ng-controller="CommonController">
  
  <div class="ui container">
  
    <a href="/#/" class="header item">FPDS Demo</a>
    
    <!-- Some options disabled for not authenticated users -->
    <a href="#/search" class="item" ng-class=" !isUserAuth ? 'disabled' : ' ' ">Search</a>
    <a href="#/api" class="item" ng-class=" !isUserAuth ? 'disabled' : ' ' ">API</a>
    <a href="#/feedback" class="item" ng-class=" !isUserAuth ? 'disabled' : ' ' ">Feedback</a>
    <a href="#/about" class="item">About</a>

    <!-- Is user logged out -->
    <div ng-show="!isUserAuth" class="right menu">
      <a href="#/login" class="item">Login</a>
      <a href="#/register" class="item">Register</a>
    </div>

    <!--Is user logged in -->
    <div ng-show="isUserAuth" class="ui right dropdown item">
      {{ user.name }}
      <i class="dropdown icon"></i>
      <div class="menu">
        <a ng-href="#/user/edit/{{ user.id }}" class="item">Edit profile</a>
        <a href="javascript:void(0);" ng-click="logOut();" class="item">Logout</a>
      </div>
    </div>
  
  </div>

</div>